/* 全局方法 */
// flex布局
@mixin flex-layout($direction, $layout, $layout2) {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;

  // 方向
  -webkit-flex-direction: $direction;
  flex-direction: $direction;

  -webkit-justify-content: $layout;
  justify-content: $layout;

  -webkit-align-items: $layout2;
  align-items: $layout2;
}

@mixin flex($num) {
  flex: $num;
  -webkit-flex: $num;
}

@mixin no-around-space() {
  margin: 0;
  padding: 0;
}

@mixin full-screen() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin simple-list {
  list-style: none;
  @include no-around-space();
}

@mixin backdrop($color, $opacity, $z-index) {
  @include full-screen();
  background-color: $color;
  opacity: $opacity;
  z-index: $z-index;
}

@mixin box-sizing($val) {
  -moz-box-sizing:    $val;   /* Firefox 1, probably can drop this */
  -webkit-box-sizing: $val;   /* Safari 3-4, also probably droppable */
  box-sizing:        $val;   /* Everything else */
}